Flask==2.3.2
gunicorn==21.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.3.6
numpy==1.22.4
scipy==1.8.1
nltk==3.8.1
scikit-learn==1.1.1
pandas==2.0.1
jsonschema==4.6.0
tmdbv3api==1.7.7
lxml==4.9.2
urllib3==2.0.4
requests==2.31.0
pickleshare==0.7.5
